<h2 align="center">Title: <%= @post.title%></h2>
<div align="center">
    <h4 class="description"><strong>Description:
            <%= simple_format(@post.body)%>
        </strong></h4>
    <hr>

    <div class="product-actions row">
        <%= link_to  "Edit this post", edit_post_path(@post), class: "btn btn-xs btn-primary" %>
        <%= link_to  "View all posts", posts_path, class: "btn btn-xs btn-success ml-2" %>
        <%= link_to 'Delete this post', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-xs btn-danger ml-2"%>
    </div>

</div>
<br>

