<%- include('./partials/header') %>
<div class="container border mt-3 p-3">

  <h3><%=cohort.name%></h3>
  <p> <%=cohort.members%> </p>
  <hr>
  <form action="/cohorts/<%= cohort.id %>/form" method = "get">
    <label for="">Method (of your choice)</label><br>
    <input type="radio" name="method" value = "teamCount">Team count!!<br>
    <input type="radio" name="method" value = "numberPerTeam">Number per team!!
    <br><br>
    <label for="">Quantity</label><br>
    <input type="text" name="quantity"><br>
    <div class="form-group">
      <input class="btn btn-primary btn-lg btn-block btn-outline-primary mt-3" type="submit" value = "Assign Team!!!">
    </div>
  </form>

  <form class="form-group" action="/cohorts/<%= cohort.id%>" method = "post">
      <input type="hidden" name="_method" value="DELETE" >
      <input class="btn btn-primary" type="submit" value = "Delete me">  
  </form>

  <a class="btn btn-primary" href="/cohorts/<%= cohort.id%>/edit">"Edit me!"</a>
</div>
<%- include('./partials/footer') %>